<h1>Alireza Soltani Neshan | 98111033302016</h1>
<h2>IoT 2333, Zamanian</h2>
<button 
    style="background-color: blue;
             color: white; border: none;
             padding: 20; font-weight: bold;
              border-radius: 20px;"
     onclick="location.replace('/turnOn')">Turn on LED</button>


     <button 
    style="background-color: blue;
             color: white; border: none;
             padding: 20; font-weight: bold;
              border-radius: 20px;"
     onclick="location.replace('/turnOff')">Turn off LED</button>